<div id="page-wrapper">
	<h1 class="page-header"><%= @item.descricao %></h1>
  
	<%= link_to 'Editar', edit_admin_item_path(@item), class: "btn btn-outline btn-default" %>
	<%= link_to 'Voltar', admin_items_path, class: "btn btn-outline btn-default" %>
</div>