<div id="page-wrapper">
	<h1 class="page-header">Editando Cliente</h1>

	<%= render 'form' %>

	<%= link_to 'Mostrar', [:admin, @cliente], class: "btn btn-outline btn-default" %>
	<%= link_to 'Voltar', admin_clientes_path, class: "btn btn-outline btn-default" %>
</div>