<div id="page-wrapper">
	<h1 class="page-header">Editando Item Variável</h1>

	<%= render 'form' %>

	<%= link_to 'Mostrar', [:admin, @itemvariavel], class: "btn btn-outline btn-default" %>
	<%= link_to 'Voltar', admin_itemvariavels_path, class: "btn btn-outline btn-default" %>
</div>