<div id="page-wrapper">
	<h1 class="page-header">Editando Portfólio</h1>

	<%= render 'form' %>

	<%= link_to 'Mostrar', [:admin, @portfolio], class: "btn btn-outline btn-default" %>
	<%= link_to 'Voltar', admin_portfolios_path, class: "btn btn-outline btn-default" %>
</div>