<div id="page-wrapper">
	<h1 class="page-header">Editando Vidro</h1>

	<%= render 'form' %>

	<%= link_to 'Mostrar', [:admin, @vidro], class: "btn btn-outline btn-default" %>
	<%= link_to 'Voltar', admin_vidros_path, class: "btn btn-outline btn-default" %>
</div>