<div id="page-wrapper">
	<h1 class="page-header">Editando Item Perfil</h1>

	<%= render 'form' %>

	<%= link_to 'Mostrar', [:admin, @itemperfil], class: "btn btn-outline btn-default" %>
	<%= link_to 'Voltar', admin_itemperfils_path, class: "btn btn-outline btn-default" %>
</div>